/* Ajuste para o navbar-toggler */
.navbar-toggler {
    display: none;
}

@media (max-width: 991.98px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-collapse.show {
        display: block !important;
    }
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        display: flex !important; /* Exibir o menu completo em telas maiores */
    }
}

/* Estilos para a Main Content e Sidebar */
main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-top: 110px;
}

.main-content {
    flex: 3;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.main-content h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.main-content p {
    margin-bottom: 30px;
    color: #555;
}

.sidebar {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 800px;
    overflow-y: auto;
}

.post-sidebar {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-sidebar:hover {
    background-color: #f7f7f7;
}

.post-sidebar img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
}

.post-sidebar h2 {
    font-size: 1rem;
    color: #333;
    margin: 0;
}
/* Animação de fade-in */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .main-content {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .sidebar {
        max-height: none;
        overflow-y: visible;
    }

    .post-sidebar {
        margin-bottom: 10px;
    }

    .post-sidebar img {
        width: 60px;
        height: 60px;
    }

    .post-sidebar h2 {
        font-size: 0.9rem;
    }
}
